@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <div class="container">
            <h2 class="text-center">Jajanan Pasar</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="food-item">
                        <hr />
                        <img src="https://asset.kompas.com/crops/6Ix7ZSibpeBQDWvFv1fzqp8YmIk=/0x268:667x713/750x500/data/photo/2020/11/12/5facf7b44c08f.jpg" alt="" width="200" height="200" ismap>
                        <div class="price">Rp. 12.000</div>
                        <div class="text-content">
                            <h4>Lumpia</h4>
                            <p>
                                Lumpia terkenal sebagai jajanan tradisional dari Semarang. Gorengan satu ini merupakan perpaduan kuliner Indonesia dengan Tionghoa. Sama seperti risol dan pastel, lumpia terdiri dari kulit dan isian.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-item">
                        <hr />
                        <img src="https://asset.kompas.com/crops/t8sQ13rbvpPsGwMnavq-t4K4b2Y=/0x0:1000x667/750x500/data/photo/2020/07/22/5f18154cb5e8c.jpg" alt="" width="200" height="200" ismap>
                        <div class="price">Rp. 7000</div>
                        <div class="text-content">
                            <h4>Klepon</h4>
                            <p>
                                Klepon juga merupakan kue manis yang banyak dijajakan di pasar dengan penampakan berwarna hijau dan mengandung kelapa parut.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="food-item">
                        <hr />
                        <img src="https://asset.kompas.com/crops/0ly2eSHYwyHx_zsUSP0pz6Fp1uY=/0x18:1477x1003/750x500/data/photo/2020/06/17/5ee9f5a185a45.jpg" alt="" width="200" height="200" ismap>
                        <div class="price">Rp. 4000</div>
                        <div class="text-content">
                            <h4>
                                Kue Dadar Gulung
                            </h4>
                            <p>
                                Kue tradisional jajanan Indonesia yang sering disebut dengan dadar gulung ini adalah kue manis berbahan dasar terigu. Terigu dibuat menjadi adonan dadar tipis berwarna hijau.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div class="text-center" style="background-color:orange">
        <div class="text-center" ">
            <h4>Jajanan kita enak gan👌</h4>
            <div class="text-center">
            </div>
            
            <div class="primary-white-button">
                <a type="button" class="btn btn-warning" asp-area="" asp-controller="Produks" asp-action="Index">Lihat Produk</a></a>
            </div>
        </div>
    </div>

</div>
